body
{
    background-color: grey;
}

h1{
    color: aqua;
    background: black;
}

#show_sketch
{
    float:right;
    position: absolute;
    height: 35;
    top: 22;
    left: 70%;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {box-shadow: 1px 1px 38px lime;}
    25% {box-shadow: 1px 1px 38px cyan;}
    50% {box-shadow: 1px 1px 38px  lime;}
    75% {box-shadow: 1px 1px 38px cyan;}
    100% {box-shadow: 1px 1px 38px lime;}
}

p{
    padding-top:10px;
    font-size:25px;
}